body {
  font-family: sans-serif; }

.fx {
  display: flex; }

.fx-j-center {
  justify-content: center; }

.fx-j-sb {
  justify-content: space-between; }

.fx-j-sa {
  justify-content: space-around; }

.fx-a-center {
  align-items: center; }

.fx-col {
  flex-direction: column; }

.fs-58 {
  font-size: 58px; }

.m-t-18 {
  margin-top: 18px; }

.m-t-48 {
  margin-top: 48px; }

.t-center {
  text-align: center; }

.w-100 {
  width: 100%; }

.fw-300 {
  font-weight: 300; }

.fc-white {
  color: white; }

.dev--black {
  border: 1px solid black; }

.dev--blue {
  border: 1px solid blue; }

.dev--red {
  border: 1px solid red; }

.homepage__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.homepage__content-wrapper {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.section {
  height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-slide {
    opacity: 1;
    transition: 1s ease; }
    .section-slide--hidden {
      opacity: 0; }
  .section-one img {
    max-width: 400px;
    width: 100%;
    height: auto; }
  .section-two__shape {
    position: absolute;
    height: 200vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%); }
  .section-two__content {
    opacity: 1;
    color: #FFFFFF;
    transition: .8s ease;
    width: 100%; }
    .section-two__content--hidden {
      opacity: 0; }
