body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 300;
  height: 100%; }

h3 {
  font-weight: 400; }

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 992px;
  overflow: scroll; }

.section {
  height: 800px;
  text-align: center;
  transition: .5s ease; }
  .section-one {
    display: flex;
    justify-content: center;
    align-items: center; }
  .section-two {
    display: flex;
    justify-content: center;
    align-items: center; }
  .section--relative {
    position: relative; }
  .section--fixed {
    position: fixed;
    width: 100%;
    max-width: 992px;
    top: 0px; }

.angle-left {
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%); }

.angle-right {
  -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%); }

.js_section_three_a {
  height: 1000px; }

.h-25p {
  height: 25%; }

.h-100p {
  height: 100%; }

.w-100p {
  width: 100%; }

.top-0 {
  top: 0px; }

.left-0 {
  left: 0px; }

.o-half {
  opacity: 0.5; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.overflow-hidden {
  overflow: hidden; }

.bg-light-grey {
  background-color: #f5f5f5; }

.bg-dark-grey {
  background-color: #cccccc; }

.bg-white {
  background-color: #ffffff; }

.bg-opaque {
  background-color: rgba(255, 255, 255, 0.4); }

.b-black {
  border: 1px solid black; }

.b-red {
  border: 1px solid red; }

.b-blue {
  border: 1px solid blue; }

.b-dashed {
  border: 1px dashed #cccccc; }

.bc-black {
  border-color: black; }

.left-shape {
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  left: -100%;
  top: 0px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  transition: opacity .5s ease;
  z-index: 2; }
  .left-shape--visible {
    opacity: 1; }
  .left-shape--shadow {
    opacity: 0;
    height: 100.7%;
    width: 100.7%;
    position: absolute;
    left: -100%;
    top: 0px;
    background: linear-gradient(rgba(1, 1, 1, 0.04), rgba(1, 1, 1, 0.05));
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 0);
    transition: opacity .5s ease;
    z-index: 1; }
    .left-shape--shadow--visible {
      opacity: 1; }

.right-shape {
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: #d2d7d3;
  position: absolute;
  right: -100%;
  top: 0px;
  transition: opacity .5s ease;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
  clip-path: polygon(100% 0, 0 100%, 100% 100%); }
  .right-shape--visible {
    opacity: 1; }
