body {
  font-family: sans-serif;
}

// FCSS...

.fx { display: flex; }
.fx-j-center { justify-content: center; }
.fx-j-sb { justify-content: space-between; }
.fx-j-sa { justify-content: space-around; }
.fx-a-center { align-items: center; }
.fx-col { flex-direction: column; }

.fs-48 { font-size: 48px; }
.fs-58 { font-size: 58px; }

.m-t-18 { margin-top: 18px; }
.m-t-48 { margin-top: 48px; }

.t-center { text-align: center; }

.w-100 { width: 100%; }

.fw-300 { font-weight: 300; }

.fc-white { color: white; }

// END FCSS...

.dev {

  &--black { border: 1px solid black; }

  &--blue { border: 1px solid blue; }

  &--red { border: 1px solid red; }

}

.homepage {

  &__container {
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
  }

  &__content-wrapper {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}

.section-block {
   height: 700px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.shape-block {

  &__one {
    position: absolute;
    height: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #252525;
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  }

  &__two {
    position: fixed;
    height: 700px;
    width: 1000px;
    transform: translate3d(40vw,0,0);

    background-color: #F5F5F5;
    -webkit-clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 84%);
    clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 84%);

  }

}

.section-content {
  opacity: 1;
  transition: 1s ease;

  &--hidden {
    opacity: 0;
  }

  &__two {
    position: absolute;
    top: 35%;
  }
}
